@if( href )

<a 
    class="{{`px-4 py-1 rounded-xl
    ${textSize} text-primary font-black capitalize
    border-4 border-secondary
    hover:bg-secondary hover:text-black`}}"
    href="{{ href }}"
>
    {{ text }}
</a>

@elseif( type )
    
<button
    class="{{`px-4 py-1 rounded-xl
    ${textSize} text-primary font-black capitalize
    border-4 border-secondary
    hover:bg-secondary hover:text-black`}}"
    type="{{ type }}"
>
    {{ text }}
</button>

@end