@if( href )

<a 
    class="px-4 py-1 rounded-xl
    text-2xl text-primary font-black capitalize
    border-4 border-secondary
    hover:bg-secondary hover:text-black"
    href="{{ href }}"
>
    {{ text }}
</a>

@end