<div class="mb-8">
    <label 
        class="block mb-1 text-3xl text-white font-base font-bold capitalize" 
        for="{{ name }}"
    >
        {{ label }}
    </label>
    <input 
        class="w-full
        bg-black 
        text-2xl text-secondary font-base border-4 border-secondary rounded-xl
        p-2"
        type="{{ type }}" name="{{ name }}" id="{{ name }}" />
</div>