@let(pageTitle = '404')

@include('partials/header')
<section class="h-screen flex justify-center items-center">
  <h1 class="text-2xl text-secondary font-base font-bold">404 - Page not found</h1>
</section>
@include('partials/footer')