@let(pageTitle = 'about')

@include('partials/header')

    <section class="h-screen flex justify-center items-center">
        
        <div class="section-box text-secondary font-base">
            
            <h1 class="text-5xl font-bold capitalize mb-6">about page</h1>
            <p class="text-2xl text-center">working on ...</p>
        </div>
    </section>

@include('partials/footer')