@let(pageTitle = 'dashboard')

@include('partials/header')

<section class="h-screen flex justify-center items-center">

    <h1 class="text-4xl text-secondary font-base font-bold">dashboard</h1>
</section>

@include('partials/footer')