<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  @vite(['resources/css/app.scss', 'resources/js/app.js'])
</head>
<body class="bg-black base-font">
  <section class="h-screen flex justify-center items-center">
    <h1 class="hero-title text-secondary font-bold"> Da Blog {<span class="text-primary font-black">x</span>} </h1>
  </section>
</body>
</html>
