@include('partials/header')
  <section class="h-screen flex justify-center items-center">
    <h1 class="hero-title text-secondary font-bold"> Da Blog {<span class="text-primary font-black">x</span>} </h1>
  </section>
@include('partials/footer')